.topbar {
  background-color: #0f5c55;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:whitesmoke;
}

.ytopbar-auth {
  color: blue;
  font-weight: bold;
}
