.topbar {
  background-color: #0f5c55;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.topbar-auth {
  color: blue;
  font-weight: bold;
}
