.auth-container {
  height: 100vh;
  width: 100vw;
  background-color: #0f5c55;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: #0f5c55;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
