.home {
  width: 100%;
  min-height: calc(100vh - 70px); /* topbar height */
  background: #7fd3b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT TEXT */
.home-text {
  max-width: 50%;
}

.home-text h1 {
  font-size: 38px;
  line-height: 1.3;
}

.yellow {
  color: #facc15;
}

.white {
  color: #ffffff;
}

.subtitle {
  margin-top: 10px;
  color: #ffffff;
  opacity: 0.8;
}

/* SEARCH */
.search-box {
  margin-top: 25px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  width: 420px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.search-box button {
  background: #0f5c55;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* RIGHT IMAGE */
.home-image {
  max-width: 45%;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 100%;
  max-height: 360px;
  object-fit: contain;
}
