.medicines-page {
  padding: 30px;
}

.medicine-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.medicine-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  text-align: center;
}

.medicine-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.price {
  font-weight: bold;
}

.desc {
  font-size: 13px;
  opacity: 0.7;
}

.expiry {
  font-size: 13px;
}

.stock {
  color: green;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.qty-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.qty-box button {
  width: 30px;
}

.add-btn {
  background: #0f5c55;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:disabled {
  background: gray;
}
